*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type:none;
    text-decoration: none;
}
.flex{
    display: flex;
}
.container{
    max-width:85%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    height:100%;
    }
.btn{
    padding: 13px 28px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: hsl(12, 88%, 59%);
    box-shadow: rgba(133, 15, 15, 0.24) 0px 3px 8px;
}
.col-50{
    width:50%;
    align-items: center;
}
.align-item{
    align-items: center;
}
body{
    overflow-x: hidden;
}
.sec-gap{
    margin-bottom:4rem;
}
.container-fluid{
    max-width: 100%;
    width:100%;

}
/* Default css end */
/* header css */

.header-wrapper{
    justify-content: space-between;
    align-items: cneter;
    margin-top:2rem;
    
}
.nav-items li a{
    padding:10px 20px;
    text-transform: capitalize;
    font-size: 17px;
}
/* header css end */
/* hero css */
.bg-patten{
    position: absolute;
    top: -150px;
    right: -141px;
    z-index: -2;
  
}
.text-wrapper h1{
    font-size: 74px;
    line-height: 77px;
    margin-bottom: 20px;

}
.text-wrapper p{
    width: 57%;
    font-size: 19px;
    margin-bottom: 19px;
}
.hero-img{
    width: 100%;
    text-align:right;
}
/* about card  */
.card-heading{
    font-size: 54px;
    line-height: 61px;
    margin-bottom: 16px;
}
.card{
    margin-bottom: 30px;
    align-items: baseline;
}
.card-content{
    width:50%;
    font-size: 18px;
}
.card-no span{
    padding: 4px 15px;
    background-color: hsl(12, 88%, 59%);
    margin-right: 23px;
    border-radius: 25px;
    color:white;
}
.card-text h3{
    font-size: 20px;
    margin-bottom: 12px;
}
.card-text p{
    width: 80%;
    font-size: 17px;
    line-height: 28px;
}
.pattern{
    position: absolute;
    z-index: -2;
    left: -242px;
    margin-left: -236px;
}
/* testimonial */
.testimonial-heading{
    width: 100%;
    text-align: center;
    font-size: 29px;
    padding-bottom:4rem;
}
.testimonial{
    width:32%;
    text-align: center;
    background-color: hsl(0, 0%, 98%);
    padding:4%;
    position: relative;
    border-radius: 10px;
}
.m-4{
    margin:0 2% ;
}
.testimonial img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 18%;
}
.testimonial h4{
    padding:6px;
    font-size: 17px;
}
.test-btn-div{
    display: flex;
    justify-content: center;
    padding-top:4rem;
}
/* team work */
.bg-color{
    background-color: hsl(12, 88%, 59%);
    padding:20px 0px;
    z-index: -3;
}
.team-work{
    justify-content: space-between;
    align-items: center;
}
.team-work h2{
    font-size: 48px;
    width:50%;
    color:white;
}
.team-btn{
    background-color: white;
    color:hsl(12, 88%, 59%)
}
.team-pattern{
    position: absolute;
    z-index: -2;
}
/* footer */
.footer-bg{
    background-color: rgb(0, 0, 0);
}
.socialiconAndLogo{
    width:25%;
}
.social-icon li{
    padding:5px 7px;
}